html, body {
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

header {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 20px;
    padding-top: 30px;
}


main {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button {
    margin-top: 40px;
    width: 50%;
    height: 50px;
    border-radius: 3px;
    font-size: 20px;
    background: none;
    color: white;
}
button:hover {
    background: white;
    transition: background-color 1s linear, color .6s ease;
    color: black;
}
button:focus {
    outline: 0;
}

h1 {
    font-size: 50px;
    position: relative;
    bottom: 30px;
}

h2 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

form fieldset {
    border: none;
}

form {
    text-align: center;
    width: 80%;
    color: black;
}

form legend {
    text-align: left;
    font-size: 1.5em;
    background-color: white;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    color: black;
}

form .choiceOption {
    font-size: 1.5em;
    border-radius: 3px;
    border: 1px white solid;
    padding: 10px;
    margin: 10px 0;
    color: white;

}

form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.clicked, form .choiceOption:hover {
    color: black !important;
    transition: background-color 1s linear, color .6s ease;
    background: white;
}


.choiceOption {
    display: block;
    text-align: left;
}

button a {
    text-decoration: none;
    color: white;
}
button a:hover {
    text-decoration: none;
    color: black;
}

.typewrite {
    border-right: .05em solid;
    animation: type 1s steps(1) infinite;
}

@keyframes type {
    50% {
        border-color: transparent;
    }
}